/* DarkMatter */
.message-2qnXI6[data-user-id="200612445373464576"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="200612445373464576"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="200612445373464576"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="200612445373464576"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="200612445373464576"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="200612445373464576"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="200612445373464576"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="200612445373464576"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="200612445373464576"] .username-2b1r56,
.root-3QyAh1[data-user-id="200612445373464576"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #610019 0%, #ff0041 50%, #610019 100%);
}

/* embed */
.message-2qnXI6[data-user-id="476641014841475084"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="476641014841475084"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="476641014841475084"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="476641014841475084"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="476641014841475084"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="476641014841475084"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="476641014841475084"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="476641014841475084"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="476641014841475084"] .username-2b1r56,
.root-3QyAh1[data-user-id="476641014841475084"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Slice */
.message-2qnXI6[data-user-id="347067975544733707"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="347067975544733707"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="347067975544733707"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="347067975544733707"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="347067975544733707"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="347067975544733707"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="347067975544733707"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="347067975544733707"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="347067975544733707"] .username-2b1r56,
.root-3QyAh1[data-user-id="347067975544733707"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* MeeSOS */
.message-2qnXI6[data-user-id="395510585858588682"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="395510585858588682"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="395510585858588682"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="395510585858588682"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="395510585858588682"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="395510585858588682"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="395510585858588682"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="395510585858588682"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="395510585858588682"] .username-2b1r56,
.root-3QyAh1[data-user-id="395510585858588682"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Ella */
.message-2qnXI6[data-user-id="689514416957423740"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="689514416957423740"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="689514416957423740"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="689514416957423740"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="689514416957423740"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="689514416957423740"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="689514416957423740"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="689514416957423740"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="689514416957423740"] .username-2b1r56,
.root-3QyAh1[data-user-id="689514416957423740"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* .\NoxLupus */
.message-2qnXI6[data-user-id="203797203590971403"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="203797203590971403"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="203797203590971403"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="203797203590971403"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="203797203590971403"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="203797203590971403"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="203797203590971403"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="203797203590971403"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="203797203590971403"] .username-2b1r56,
.root-3QyAh1[data-user-id="203797203590971403"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Riley */
.message-2qnXI6[data-user-id="430520245288173568"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="430520245288173568"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="430520245288173568"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="430520245288173568"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="430520245288173568"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="430520245288173568"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="430520245288173568"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="430520245288173568"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="430520245288173568"] .username-2b1r56,
.root-3QyAh1[data-user-id="430520245288173568"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Taya */
.message-2qnXI6[data-user-id="424558173412917252"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="424558173412917252"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="424558173412917252"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="424558173412917252"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="424558173412917252"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="424558173412917252"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="424558173412917252"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="424558173412917252"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="424558173412917252"] .username-2b1r56,
.root-3QyAh1[data-user-id="424558173412917252"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Sel */
.message-2qnXI6[data-user-id="324259624628781057"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="324259624628781057"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="324259624628781057"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="324259624628781057"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="324259624628781057"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="324259624628781057"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="324259624628781057"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="324259624628781057"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="324259624628781057"] .username-2b1r56,
.root-3QyAh1[data-user-id="324259624628781057"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* bob5918 */
.message-2qnXI6[data-user-id="316673724990488577"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="316673724990488577"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="316673724990488577"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="316673724990488577"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="316673724990488577"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="316673724990488577"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="316673724990488577"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="316673724990488577"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="316673724990488577"] .username-2b1r56,
.root-3QyAh1[data-user-id="316673724990488577"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Dav */
.message-2qnXI6[data-user-id="407128913458888704"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="407128913458888704"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="407128913458888704"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="407128913458888704"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="407128913458888704"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="407128913458888704"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="407128913458888704"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="407128913458888704"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="407128913458888704"] .username-2b1r56,
.root-3QyAh1[data-user-id="407128913458888704"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}







@-webkit-keyframes shine {
  to {
    background-position: 300% center;
  }
}
@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@-webkit-keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}