/* ALL STAFF */

/* DarkMatter */
.message-2CShn3[data-user-id="200612445373464576"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="200612445373464576"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="200612445373464576"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="200612445373464576"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="200612445373464576"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="200612445373464576"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="200612445373464576"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="200612445373464576"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="200612445373464576"] .username-3JLfHz,
.root-8LYsGj[data-user-id="200612445373464576"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #610019 0%, #ff0041 50%, #610019 100%);
}

/* embed */
.message-2CShn3[data-user-id="476641014841475084"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="476641014841475084"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="476641014841475084"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="476641014841475084"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="476641014841475084"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="476641014841475084"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="476641014841475084"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="476641014841475084"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="476641014841475084"] .username-3JLfHz,
.root-8LYsGj[data-user-id="476641014841475084"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Slice */
.message-2CShn3[data-user-id="347067975544733707"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="347067975544733707"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="347067975544733707"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="347067975544733707"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="347067975544733707"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="347067975544733707"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="347067975544733707"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="347067975544733707"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="347067975544733707"] .username-3JLfHz,
.root-8LYsGj[data-user-id="347067975544733707"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* MeeSOS */
.message-2CShn3[data-user-id="395510585858588682"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="395510585858588682"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="395510585858588682"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="395510585858588682"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="395510585858588682"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="395510585858588682"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="395510585858588682"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="395510585858588682"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="395510585858588682"] .username-3JLfHz,
.root-8LYsGj[data-user-id="395510585858588682"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Ella */
.message-2CShn3[data-user-id="689514416957423740"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="689514416957423740"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="689514416957423740"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="689514416957423740"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="689514416957423740"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="689514416957423740"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="689514416957423740"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="689514416957423740"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="689514416957423740"] .username-3JLfHz,
.root-8LYsGj[data-user-id="689514416957423740"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* .\NoxLupus */
.message-2CShn3[data-user-id="203797203590971403"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="203797203590971403"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="203797203590971403"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="203797203590971403"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="203797203590971403"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="203797203590971403"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="203797203590971403"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="203797203590971403"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="203797203590971403"] .username-3JLfHz,
.root-8LYsGj[data-user-id="203797203590971403"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Riley */
.message-2CShn3[data-user-id="430520245288173568"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="430520245288173568"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="430520245288173568"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="430520245288173568"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="430520245288173568"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="430520245288173568"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="430520245288173568"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="430520245288173568"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="430520245288173568"] .username-3JLfHz,
.root-8LYsGj[data-user-id="430520245288173568"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Taya */
.message-2CShn3[data-user-id="424558173412917252"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="424558173412917252"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="424558173412917252"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="424558173412917252"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="424558173412917252"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="424558173412917252"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="424558173412917252"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="424558173412917252"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="424558173412917252"] .username-3JLfHz,
.root-8LYsGj[data-user-id="424558173412917252"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Sel */
.message-2CShn3[data-user-id="324259624628781057"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="324259624628781057"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="324259624628781057"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="324259624628781057"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="324259624628781057"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="324259624628781057"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="324259624628781057"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="324259624628781057"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="324259624628781057"] .username-3JLfHz,
.root-8LYsGj[data-user-id="324259624628781057"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* bob5918 */
.message-2CShn3[data-user-id="316673724990488577"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="316673724990488577"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="316673724990488577"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="316673724990488577"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="316673724990488577"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="316673724990488577"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="316673724990488577"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="316673724990488577"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="316673724990488577"] .username-3JLfHz,
.root-8LYsGj[data-user-id="316673724990488577"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}

/* Dav */
.message-2CShn3[data-user-id="407128913458888704"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="407128913458888704"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="407128913458888704"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="407128913458888704"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="407128913458888704"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="407128913458888704"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="407128913458888704"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="407128913458888704"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="407128913458888704"] .username-3JLfHz,
.root-8LYsGj[data-user-id="407128913458888704"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #031321 0%, #00cc99 50%, #031321 100%);
}


/* ALL OTHER */

/* CleanToes */
.message-2CShn3[data-user-id="222004290926018560"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="222004290926018560"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="222004290926018560"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="222004290926018560"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="222004290926018560"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="222004290926018560"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="222004290926018560"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="222004290926018560"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="222004290926018560"] .username-3JLfHz,
.root-8LYsGj[data-user-id="222004290926018560"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #34ebe5 0%, #e8eb34 50%, #34ebe5 100%);
}



/* Colour Animation */

@-webkit-keyframes shine {
  to {
    background-position: 300% center;
  }
}
@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@-webkit-keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
