:root {
    --version: "1.2";
}

#app-mount .app-2CXKsg::before {
    content: "Your version of Ultra is outdated. Please download the newest version from source";
    display: var(--version1_2, block);
    background-color: var(--brand-experiment);
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
    z-index: 101;
}

[class^="socialLinks-"] + [class^="info-"] [class^="colorMuted-"]:first-child::before {
    content: "BBadges " var(--version);
    position: relative;
    top: 0px;
    display: block;
}
