/**
* @name BBadges
* @author DarkMatter#1708
* @authorId 200612445373464576
* @description Badges for Bubblez Staff
* @source https://github.com/ProjectBubblez/theme/
* @version 1.3
*/

/* ----------------------------------------------------------------------- */

/* IMPORT SOURCE CODE */

@import "https://projectbubblez.github.io/theme/css/badges.css"; /* main code */
@import url('https://projectbubblez.github.io/theme/css/font.css'); /* font code */
@import url('https://projectbubblez.github.io/theme/css/main.css'); /* new side code */


/* ----------------------------------------------------------------------- */

/* SETTINGS */

:root {
    --version1_3: none;          /* Don't change */
    --brand-experiment: #00CC99; /* Don't change */
    --word-spacing: 3px;         /* Word spacing */
    --letter-spacing: 0.25px;    /* Letter Spacing */
    --message-line-spacing: 2;   /* Line spacing on messages */
}

/* ----------------------------------------------------------------------- */
